@charset "UTF-8";
body {
  margin: 0;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

header {
  display: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.ph-hide {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

main {
  position: relative;
}

.ph-backgorund {
  position: relative;
  overflow: hidden;
}

.ph-backgorund img {
  height: 100%;
  width: 100vw;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.ph-backgorund::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.ph-main {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.ph-main__summary {
  width: calc(100vw - 10rem);
  top: 5rem;
  left: 5rem;
  position: absolute;
}

.ph-main__head img {
  width: 80px;
}

.ph-main__detail {
  position: absolute;
  right: 50px;
  top: 0;
}

.ph-main__detail h3 {
  margin-bottom: 10px;
  font-weight: 300;
}

.ph-main__detail--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.ph-main__detail--item:not(:first-of-type) {
  margin-top: 30px;
}

.ph-main__detail--icon {
  width: 60px;
  margin-right: 15px;
}

.ph-main__detail--content p {
  font-weight: 600;
  font-size: 32px;
}

.ph-history {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#ph-search-trigger {
  font-size: 18px;
}

#ph-search-trigger img {
  width: 14px;
  margin-right: 2px;
}

#ph-search-trigger.active ~ #ph-search__wrapper {
  opacity: 1;
  visibility: visible;
  top: 10px;
}

#ph-current-location {
  font-weight: 300;
  font-size: 20px;
  margin: 10px 0 30px;
}

#ph-current-location span {
  display: block;
  margin-top: 10px;
}

#ph-current-temp {
  position: relative;
  font-size: 46px;
  margin: 30px 0;
}

#ph-current-temp:after {
  content: " °C";
}

#humidity:after,
#air-pressure:after,
#wind-speed:after {
  margin-left: 6px;
}

#humidity:after {
  content: "%";
}

#air-pressure:after {
  content: "PS";
}

#wind-speed:after {
  content: "km/h";
}

.ph-form__wrapper {
  width: 200px;
}

#ph-search__wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
  top: 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

#ph-search__wrapper:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("img/search.png");
  background-size: contain;
  height: 16px;
  width: 16px;
  z-index: 2;
}

input[type=text] {
  padding: 8px 12px;
  outline: 0;
  border: 1px solid transparent;
  font-weight: 600;
}

input[type=text]:focus, input[type=text]:active {
  border-color: lime;
}

input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  background-color: transparent;
  border: 0;
  height: 33px;
  width: 33px;
  z-index: 3;
}

#ph-history-trigger {
  padding: 8px 15px;
  border: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#ph-history-trigger:hover {
  border-color: #fff;
}
/*# sourceMappingURL=style.css.map */